/* Filters */
.filters{
    list-style: none;
    margin-left: -60px;
}

.filters li{   
   display: inline;
   background-color: #1976d2;
   border-radius: 4px;
   margin:  5px 5px 5px 0px;
   padding: 10px;  
}

.filters li input[type="text"]{       
    background-color: #fff !important;
    border: 1px solid rgba(213, 213, 213, 0.615);
    /* border-radius: 4px;
    margin:5px;*/
    padding: 10px;  
 }

 .high{
    background-color: darkred;
    padding: 2px;
    color: #fff;
 }

 .low{
    background-color: darkgreen;
    padding: 2px;
    color: #fff;
 }

@media (max-width: 600px) {
    .filters li{   
        display: list-item;        
        border-radius: 4px;        
        padding: 10px; 
     }
  }

.filter a {
    text-decoration: none !important;
    color: white !important;
}

/* Mastodon versions */
.mVersion {
    padding: 3px;
    border-radius: 4px;
}

.tooOld {
    background-color: brown;
    color: white;
}

.isOk {
    background-color: darkseagreen;
}

.isSomeOld {
    background-color: chocolate;
}

.active{
    background-color: black;
}